@model IEnumerable<RestaurantScores.Models.ResultsViewModel>

@{
    ViewData["Title"] = "Results";
}

<h2>DishTheDirt Results</h2>
<h3>Search results for : @Model.First().Restaurant.Name</h3>
<tbody>
</tbody>
<table class="table" border-bottom: 0>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReviewerScrapingDetails.Name)
            </th>
            <th>
                No. Reviews
            </th>
            <th>
                Avg. Rating
            </th>
            <th>
                Max. Score
            </th>
            <th>
                Percentage Score
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="@item.ReviewerScrapingDetails.WebAddress" target="_blank">@item.ReviewerScrapingDetails.Name</a>
            </td>
            <td>
                @item.Review.NumberOfReviews
            </td>
            <td>
                @item.Review.OverallScore
            </td>
            <td>
                @item.ReviewerScrapingDetails.OverallMaxScore
            </td>
            <td>
                @{
                    double overallScore = @item.Review.OverallScore.GetValueOrDefault();
                    double  overallMaxScore = @item.ReviewerScrapingDetails.OverallMaxScore;

                    var divideSingle = @overallScore / overallMaxScore * 100;
                }
            @divideSingle
            </td>
        </tr>
    }
    </tbody>
    <tfoot>
        <tr align="right">
            <td></td>
            <td></td>
            <td></td>
            <td><strong>DishTheDirt Score:</strong></td>
            @*TODO: format to 1 dp*@
            <td align="left">
                @{
                    double sumOveralScore = @Model.Sum(x => x.Review.OverallScore.GetValueOrDefault());
                    double sumOverallMaxScore = @Model.Sum(y => y.ReviewerScrapingDetails.OverallMaxScore);

                    var divideAll = sumOveralScore / sumOverallMaxScore * 100;
                }
                @divideAll.ToString("0.0")
            </td>
        </tr>
    </tfoot>
</table>
